" 同步剪切板，单向
" set clipboard+=unnamed

" 不同步剪切板了，改用<C-C>来便捷复制
vnoremap <C-C> \"+y`<v`>
nnoremap <C-C> \"+yiw:echo "<C-R>+"<CR>
inoremap <C-C> <ESC>\"+yiwi<C-O>:echo "<C-R>+"<CR>
noremap ,p \"+p
noremap ,P \"+P

" 设置编码
set termencoding=utf-8
set encoding=utf-8

" 自动匹配参数设置
set argtextobj
let g:argtextobj_pairs="[:],(:),{:}"

" 替换括号快捷键
set surround
noremap ,d \"dxhxx\"dP`[v`]

" 忽略大小写
set ignorecase
set smartcase

" 禁用警报
set visualbell

" 设置,为快捷键起始
noremap ,, ,
" 查找
noremap ,F :action Find<CR>
noremap ,f /<C-R>+<CR>
" 重命名变量
noremap ,r :action RenameElement<CR>
" 拆分窗口
noremap ,v <C-W>v<C-W>h:action MoveEditorToOppositeTabGroup<CR>
" 左右窗口移动光标
noremap ,h <C-W>h
noremap ,l <C-W>l
" 移动当前tab到对面
noremap ,o :action MoveEditorToOppositeTabGroup<CR>
" 打开Project窗口
noremap gp :action SelectInProjectView<CR>
" 关闭当前tab"
noremap gc :tabc<CR>

" 输入模式移动光标
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>

" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

